*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    text-align: center;
    padding: 100px;
}
p {
    font-size: 40px;
    padding-bottom: 30px;
}
iframe,video {
    display: block;
    margin: 1em auto;
    width: 80%;
    height: calc(.5625 * 80vw);
    min-width: 1280px;
    max-height: 720px;
    min-width: 320px;
    min-height: 180px
}