body {
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;

    
}

.dv1 {
    background-color: #EEEEEE;
    height: 70px;
    
}

.dv2 {
    background-color: #EEEEEE;
    height: 70px;
    
}

.dv3 {
    background-color: #EEEEEE;
    margin-right: 15px;
    flex: 1;
   
}

.dv4 {
    background-color: #EEEEEE;
    flex: 3;
}

.dv5 {
    background-color: #EEEEEE;
    flex: 1;
    margin-left: 1%;
}

.dv6 {
    background-color: #EEEEEE;
    height: 70px;
}

p {
    padding-top: 15px;
    text-align: center;
    margin: auto;
    
}

.dv_3 {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    height: 510px;
    
   
}